@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BlogApp.ViewModels.PostListItem>

@{
    ViewBag.Title = string.IsNullOrWhiteSpace(ViewBag.SearchString) ? "Posts" : "Search Results";
    ViewBag.Heading = string.IsNullOrWhiteSpace(ViewBag.SearchString) ? "Post List" : "Search";
    ViewBag.SubHeading = "Built with ASP.NET MVC 5";
}

<!-- Create Button -->
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a class="btn btn-primary" href=@Url.Action("Create", "Posts")>
        Create New&ensp;<i class="fas fa-plus"></i>
    </a>
    <hr>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.SearchString))
{
    <h3>Search results for <span class="text-danger">@ViewBag.SearchString</span>:</h3>
    <br />
}

<!-- Blog Posts -->
@Html.Partial("_PostListPartial", Model)

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount	@Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.SearchString }))
</div>
